/*
* Remix Icon v4.6.0 — self-hosted subset
* Original: https://remixicon.com (Apache License 2.0)
* Only the 9 glyphs this page actually uses, extracted from the full
* 176KB cdnjs webfont down to ~1.5KB. Full icon set: assets/fonts source
* is remixicon.woff2 v4.6.0 — re-subset if new icons are added.
*/
@font-face {
  font-family: "remixicon";
  src: url("../fonts/remixicon-subset.woff2") format("woff2");
  font-display: swap;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.ri-arrow-down-s-line:before { content: "\ea4e"; }
.ri-arrow-right-up-long-line:before { content: "\f5de"; }
.ri-briefcase-3-line:before { content: "\eaef"; }
.ri-file-copy-line:before { content: "\ecd5"; }
.ri-file-list-2-line:before { content: "\eced"; }
.ri-github-line:before { content: "\edcb"; }
.ri-graduation-cap-line:before { content: "\f333"; }
.ri-linkedin-box-line:before { content: "\eeb4"; }
.ri-check-line:before { content: "\eb7b"; }
.ri-whatsapp-line:before {
    content: "\ea93"; /* This would be the specific icon unicode if using a webfont */
} 